
<%- include("header") -%>

<h1>This is about me page</h1>
<h3>Hi! I'm BelugaSam the creator of this website</h3>
<h3>Make good use of the ToDo List!</h3>
<h3>Thank You!</h3>

<%- include("footer") -%>
